[user]
	email = backbone@backbone.ws
	name = Kolan Sh

[color]
	ui = auto
	branch = auto
	diff = auto
	status = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[alias]
	unstage = reset HEAD --
	st = status
	s = status -uno
	ci = commit
	di = diff -b
	co = checkout
	up = checkout
	update = checkout
	l = log
	hgrevert = checkout
	strip = reset --hard
	branches = branch -a
	pull = fetch
	glog = log --graph --stat --decorate

[instaweb]
	local = true
	httpd = lighttpd -f
	port = 4321
	browser = firefox

[merge]
	tool = vimdiff

[core]
	quotepath = false

[push]
	default = matching

[difftool]
	prompt = false

[diff]
	tool = vimdiff

[mergetool "vimdiff"]
	keepBackup = false

[http]
	sslverify = false
